<section class="text-center pt-8">
 <button title="start a room" phx-click="random-room" class="text-white bg-black rounded text-xl px-2 border-2 border-solid border-sky-500">
  Start Room
 </button>
</section>
