<section class="text-center pt-8">
 <button title="start a room" phx-click="random-room" class="text-white bg-black rounded text-xl px-2 border-2 border-solid border-sky-500">
  Start Room
 </button>
</section>
<section class="text-right mt-10 text-4xl w-1/2 m-auto text-yellow-100">
  <h5>
    This is the most random chat room there is, once you start a room you can share your room's name with other users...
    <br>
    If you leave the room, you loose all your chats
  </h5>
</section>
