<section class="row">
  <h6 style="font-weight: 600; font-family: monospace; text-decoration: underline">Welcome and get chatty</h6>
</section>
<button title="start a room" phx-click="random-room">Start Room</button>
