<p class="text-center pt-8">
  Welcome to <strong> <%= @room_id%>'s </strong> chat room
</p>

<section class="w-4/5 mx-auto">
  <div id="chat-container" class="border bg-slate-300 p-2 justify-between h-[40rem] flex-col">
    <div id="chat-messages" class="grow">
      Chat goes here 
    </div>
  </div>
</section>
